@font-face {
    font-family: 'sono';
    src: url(../fontes/Sono-VariableFont_MONO\,wght.ttf);
}

* {
    font-family: 'sono';
    color: #ffffff;
}

body {
    background-color: #1C1C1C;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/*----------------------HEADER-------------------------*/

header {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20em;
}

header .kg-container img {
    width: 16em;
    cursor: pointer;
}

header .kg-container img:hover {
    filter: brightness(75%);
}

header .kg-container img:active {
    transform: scale(0.98);
    transition: all 0.1s ease-in-out;
}

header .menu {
    display: flex;
    font-size: 1.1em;
    gap: 4em;
    position: relative;
    right: 4em;
}

header .menu li a:hover {
    text-decoration: underline;
}

header .menu li a:active {
    filter: brightness(75%);
}

header .social-icons {
    display: flex;
    gap: 1em;
}

header .social-icons img {
    width: 1.8em;
    cursor: pointer;
}

header .social-icons img:hover {
    filter: brightness(75%);
    transition: all 0.1s ease-in-out;
}

header .social-icons img:active {
    transform: scale(0.98);
    transition: all 0s ease-in-out;
}

/*----------------------PHASMOPHOBIA-------------------------*/

.living-room-background {
    background-image: url(../img/living-room.jpeg);
    background-position: 0px -26px;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.content-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content-container img {
    width: 55%;
    margin-top: 6em;
}

.content-container a {
    margin-top: 5em;
    font-size: 1.5em;
}

/*----------------------GALLERY-------------------------*/

.gallery-container {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.gallery-container div {
    height: 90%;
    width: 26%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
}

.gallery-container div img {
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
}

.gallery-container div h4 {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.1875em;
}

.gallery-container div p {
    font-size: 95%;
    font-weight: 300;
    letter-spacing: -0.1em;
    line-height: 1.5em;
}

/*----------------------FEEDBACKS-------------------------*/

.feedbacks-container {
    width: 100%;
    height: 78%;
    background-image: url(../img/baby-room.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.feedbacks-container div {
    margin-left: 13em;
    width: 60%;
    height: 24%;
}

.feedbacks-container div:nth-child(2) {
    margin-left: 32em;
}

.feedbacks-container div h5 {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: -0.1em;
    margin-left: 1em;
}

.feedbacks-container div p {
    font-size: 2.3em;
    font-weight: 500;
    letter-spacing: -0.1em;
    line-height: 1.5em;
    margin-top: 0.5em;
    text-shadow: -1px 5px 4px #000;
}

/*----------------------AWARDS-------------------------*/

.awards-container {
    width: 100%;
    height: 22%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awards-container div {
    width: 15%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awards-container div img {
    width: 80%;
}

/*----------------------FOOTER-------------------------*/

.footer-container {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .left-box {
    width: 38%;
    height: 85%;
    margin-left: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4em;
}

.footer-container .left-box .footer-social-icons {
    width: 25%;
    height: 18%;
    display: flex;
    align-items: center;
    gap: 1em;
}

.footer-container .left-box .footer-social-icons img {
    width: 2em;
    cursor: pointer;
}

.footer-container .left-box p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    letter-spacing: -0.1em;
}

.footer-container .left-box p:nth-child(5) {
    font-weight: 400;
}

.footer-container .left-box p:nth-child(6) {
    font-weight: 400;
}

.footer-container .left-box p span {
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
}

.footer-container .right-box {
    width: 25%;
    height: 60%;
    margin-right: 10em;
    display: flex;
    justify-content: right;
}

.footer-container .right-box ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1.1em;
    text-decoration: underline;
}